.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1170px;
  margin: auto;
}

.takeCards {
  transform: translateY(-200px);
  opacity: 0;
  visibility: hidden;
}
.defaultCards {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.deal {
  transition: transform .5s cubic-bezier(.25,0,.28,1.43),opacity .3s linear,visibility .5s;
}

.dealCards {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.card1{
  transition-delay: 0s;
}

.card2{
  transition-delay: 0.15s;
}

.card3{
  transition-delay: 0.30s;
}

.card4{
  transition-delay: 0.45s;
}

.card5{
  transition-delay: 0.60s;
}

.mobileCont {
  display: none;
}

@media (max-width: 1200px) {
  .header-container {
    width: 900px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .header-container {
    width: 500px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media (max-width: 470px) {
  
  .mobiledisplay {
    display: none;
  }

  .mobileCont {
    display: block;
  }
}
