.inputHero {
    background: none;
    border: none;
    outline: none;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid rgba(23, 86, 124, 0.9);
    
}

.inputHero:hover {
    border-bottom: 1px solid white;
}

.labelHero {
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    font-size: 16px;
}

.rangeCont {
    margin-right: 15px;
}

.range {
    width: 200px;
}