.filter {
  text-align: center;
  margin: 20px 0;
}

.selectFilter {
  width: 190px;
  height: 38px;
  padding: 7px;
  border: 2px solid rgba(100, 200, 200);
  font-size: 17px;
  font-weight: bolder;
  font-family: 'Chakra Petch', sans-serif;
  background: rgba(100, 200, 200);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  outline: none;
}

.selectFilter option {
  color: black;
  font-size: 17px;
}
