.cardHero {
  width: 220px;
  height: 320px;
  background:
    radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #fff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: 7px;
  text-align: center;
  margin: auto;
}

.imgCont {
  background: grey;
  width: 195px;
  height: 240px;
  margin: 12px auto;
}

.linkContainer {
  text-decoration: none;
  color: black;
  width: 220px;
  height: 320px;
  display: inline-block;
}


@media (max-width: 470px) {
  .linkBox{
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
   
  }

  .cardHero {
    width: 180px;
    height: 275px;
    margin: auto;
    text-align: center;
  }

  .imgCont {
    width: 170px;
    height: 210px;
  }

  h5 {
    margin: 5px;
  }
  
}
