.butonCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.butonCont button {
  background: none;
  border-radius: 100%;
  border: 3px solid rgba(100, 200, 200, 1);
  padding: 10px;
  margin: 10px;
  color: white;
}

.butonCont button:hover {
  background: white;
  color: #d1b464;
}

.iconSize {
  font-size: 25px;
  font-weight: bolder;
}

.floatleft {
  position: fixed;

  top: 210px;
  left: 20px;
}

.floatright {
  position: fixed;
 
  top: 210px;
  right: 20px;
}