.filter {
  text-align: center;
}

.formSe {
  width: 80%;
  text-align: center;
  margin: auto;
}

.inputSearch input {
  margin: 50px;
  width: 600px;
  height: 30px;
  padding: 7px;
  font-size: 17px;
  font-weight: bolder;
  font-family: 'Chakra Petch', sans-serif;
  background: none;
  color: rgb(255, 196, 0);
  border: none;
  cursor: pointer;
  outline: none;
}

.inputSearch input::placeholder{
  color: rgb(255, 166, 0);
  font-size: 17px;
  font-weight: bolder;
}

.underline {
  color: inherit;
  text-decoration: none;
}

.underline {
  background: 
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.underline:hover,
.underline:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

@media (max-width: 880px) {
  .inputSearch input {
    width: 300px;
  }
}

@media (max-width: 420px) {
  .inputSearch input {
    width: 200px;
    margin: 5px;
  }
}
